# Загрузка рыночных и фундаментальных данных

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import yfinance as yf

### Работа с объектом Ticker

In [16]:
symbol = 'O'
ticker = yf.Ticker(symbol)

In [17]:
pd.Series(ticker.info).head(20)

zip                                                                        92130
sector                                                               Real Estate
fullTimeEmployees                                                            194
longBusinessSummary            Realty Income, The Monthly Dividend Company<su...
city                                                                   San Diego
phone                                                               858-284-5000
state                                                                         CA
country                                                            United States
companyOfficers                                                               []
website                                              http://www.realtyincome.com
maxAge                                                                         1
address1                                                    11995 El Camino Real
industry                                                             REIT—Retail
previousClose                                                              60.38
regularMarketOpen                                                          60.45
twoHundredDayAverage                                                     60.8647
trailingAnnualDividendYield                                            0.0460417
payoutRatio                                                               2.3167
volume24Hr                                                                  None
regularMarketDayHigh                                                       61.18
dtype: object

### Получение рыночных данных

In [18]:
data = ticker.history(period='5d',
                      interval='1m',
                      start=None,
                      end=None,
                      actions=True,
                      auto_adjust=True,
                      back_adjust=False)
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1947 entries, 2021-01-20 09:30:00-05:00 to 2021-01-26 15:59:00-05:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1947 non-null   float64
 1   High          1947 non-null   float64
 2   Low           1947 non-null   float64
 3   Close         1947 non-null   float64
 4   Volume        1947 non-null   int64
 5   Dividends     1947 non-null   int64
 6   Stock Splits  1947 non-null   int64
dtypes: float64(4), int64(3)
memory usage: 121.7 KB

### Получение информации о педполагаемых дивидендах и сплитах

In [19]:
ticker.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [21]:
ticker.dividends

Series([], Name: Dividends, dtype: int64)

In [23]:
ticker.splits

Series([], Name: Stock Splits, dtype: int64)

### Сводка годовой и квартальной отчетности

In [25]:
ticker.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [27]:
ticker.quarterly_financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Сводка по годовому и квартальному балансу

In [28]:
ticker.balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [30]:
ticker.quarterly_balance_sheet

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Годовой и квартальный отчеты о движении денежных средств

In [31]:
ticker.cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [32]:
ticker.quarterly_cashflow

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [33]:
ticker.earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [34]:
ticker.quarterly_earnings

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

### Стабильность: окружающая среда, социальная сфера и управление

In [35]:
ticker.sustainability

                             Value
2021-1
palmOil                      False
controversialWeapons         False
gambling                     False
socialScore                   6.34
nuclear                      False
furLeather                   False
alcoholic                    False
gmo                          False
catholic                     False
socialPercentile              None
peerCount                      108
governanceScore               4.98
environmentPercentile         None
animalTesting                False
tobacco                      False
totalEsg                     16.59
highestControversy               0
esgPerformance          UNDER_PERF
coal                         False
pesticides                   False
adult                        False
percentile                    11.1
peerGroup              Real Estate
smallArms                    False
environmentScore              5.27
governancePercentile          None
militaryContract             False

### Рекомендации аналитиков

In [37]:
ticker.recommendations.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 80 entries, 2012-04-05 11:57:00 to 2020-12-15 17:54:54
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Firm        80 non-null     object
 1   To Grade    80 non-null     object
 2   From Grade  80 non-null     object
 3   Action      80 non-null     object
dtypes: object(4)
memory usage: 3.1+ KB

In [39]:
ticker.recommendations.tail(10)

                               Firm           To Grade      From Grade Action
Date
2020-04-07 12:01:22       Citigroup            Neutral             Buy   down
2020-04-17 17:51:29   Raymond James         Outperform                   main
2020-05-04 10:51:18  Morgan Stanley         Overweight    Equal-Weight     up
2020-06-10 11:55:31     Wells Fargo         Overweight                   main
2020-06-30 11:51:37       Berenberg                Buy                   init
2020-07-27 11:57:21   Deutsche Bank                Buy                   main
2020-08-21 13:12:51  Morgan Stanley         Overweight                   main
2020-10-09 09:43:36      ScotiaBank  Sector Outperform  Sector Perform     up
2020-10-16 13:51:07             UBS                Buy                   init
2020-12-15 17:54:54  Morgan Stanley         Overweight                   main

### Ожидаемые события

In [41]:
ticker.calendar

                                Value
Earnings Date     2021-02-22 00:00:00
Earnings Average                 0.35
Earnings Low                     0.34
Earnings High                    0.37
Revenue Average             412780000
Revenue Low                 388980000
Revenue High                424160000

### Даты эспирации опционов

In [43]:
ticker.options

('2021-02-19',
 '2021-03-19',
 '2021-06-18',
 '2021-09-17',
 '2022-01-21',
 '2023-01-20')

In [46]:
expiration = ticker.options[0]
options = ticker.option_chain(expiration)
options.calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     15 non-null     object
 1   lastTradeDate      15 non-null     datetime64[ns]
 2   strike             15 non-null     float64
 3   lastPrice          15 non-null     float64
 4   bid                14 non-null     float64
 5   ask                15 non-null     float64
 6   change             15 non-null     float64
 7   percentChange      15 non-null     float64
 8   volume             13 non-null     float64
 9   openInterest       15 non-null     int64
 10  impliedVolatility  15 non-null     float64
 11  inTheMoney         15 non-null     bool
 12  contractSize       15 non-null     object
 13  currency           15 non-null     object
dtypes: bool(1), datetime64[ns](1), float64(8), int64(1), object(3)
memory usage: 1.7+ KB

In [47]:
options.calls.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,O210219C00035000,2021-01-08 16:10:58,35.0,24.30,25.5,25.9,0.00,0.000000,1.0,1,0.898439,True,REGULAR,USD
1,O210219C00042500,2021-01-19 05:04:37,42.5,15.67,18.0,18.4,0.00,0.000000,NaN,2,0.605473,True,REGULAR,USD
2,O210219C00047500,2021-01-26 18:17:00,47.5,13.22,13.0,13.4,0.18,1.380370,1.0,111,0.621098,True,REGULAR,USD
3,O210219C00050000,2021-01-26 20:34:49,50.0,11.05,10.5,10.9,1.35,13.917530,1.0,18,0.514653,True,REGULAR,USD
4,O210219C00052500,2021-01-26 18:42:42,52.5,8.34,8.1,8.4,-0.26,-3.023258,2.0,96,0.410162,True,REGULAR,USD

In [49]:
options.puts.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,O210219P00035000,2021-01-12 16:21:52,35.0,0.08,0.00,0.15,0.00,0.00000,1.0,4,1.015630,False,REGULAR,USD
1,O210219P00040000,2021-01-22 18:00:42,40.0,0.05,0.00,0.15,0.00,0.00000,3.0,6,0.792971,False,REGULAR,USD
2,O210219P00045000,2021-01-12 19:32:27,45.0,0.06,0.00,0.15,0.00,0.00000,4.0,8,0.593754,False,REGULAR,USD
3,O210219P00047500,2021-01-25 15:36:03,47.5,0.05,0.00,0.15,0.00,0.00000,3.0,45,0.500005,False,REGULAR,USD
4,O210219P00050000,2021-01-26 14:37:22,50.0,0.07,0.05,0.10,0.03,75.00001,1.0,834,0.431646,False,REGULAR,USD